.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 90px;
    height: 90px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 100;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    
    
  }
  .category > img {
    max-height: 65px;
    width: 65px;
    object-fit: contain;
    margin-bottom: 15px;
    color: #ffffff;
  }

  .category__info {
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    font-family:SourceSans;
  }