.about{
    z-index: 100;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: wheat;
}
.heading{
    font-family: Nasalization;
    text-align: center;
    margin-top: 250px;
    color: #808080;
    z-index: 100;
}
.content1{
    margin-top: 80px;
    font-family: Nasalisation;
    font-size: 22px;
    margin-left: 60px;
    margin-right: 60px;
    font-weight: 10;
    text-align: center;
    color: #000000;
    z-index: 100;
}
.content2{
    margin-top: 10px;
    font-family: Nasalisation;
    font-size: 22px;
    margin-left: 60px;
    margin-right: 60px;
    font-weight: 10;
    color: #808080;
    text-align: center;
    z-index: 100;
}