.header{
    display: flex;
    align-items:center;
    top: 0;
    z-index: 10;
    justify-content: space-evenly;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 40px;
}


.header__option{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 1vw;
    font-size:20px;
    font-family:SourceSans;
    text-decoration-color: unset;
    justify-content: space-evenly;
    text-align: center;
    
}
.header__option1{
    text-decoration: none;
    display: flex;
    font-family:SourceSans;
    text-decoration-color: unset;
    margin-left: 0px;
    
}
:link{
    text-decoration-line: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.logo{
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
}

.bar{
    margin-top: 5px;
    margin-left: 5px;
    left: 0;
}