.header{
    display: flex;
    align-items:center;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: center;
}


.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    color: #808080;
    font-weight: 800;
    font-size: 20px;
    font-family: Nasalization;
    text-decoration-color: unset;
    
}
:link{
    text-decoration-line: none;
}

.logo{
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
}