.home{
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.home__image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0, 0, 0, 0));
    animation: normal;
    justify-content: center;
    display: flex;
    flex: 1;
    opacity: 0.9;
    
}